/**
 * Page content
 */
.page-content {
    background-color: #fdfdfd;
    padding: $spacing-unit 0;
}


/**
 * Items
 */

$item-border: solid #ddd 1pt;

.item {
    width: calc(100% - 25px);
    display: inline-block;
    cursor: pointer;
    transition: all .25s ease;
    border: $item-border;
    margin: $spacing-unit/2;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;

    .item-title {
      color: #000;
      white-space: nowrap;
    }
    .item-img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
    }

    .item-footer {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5pt;
        background-color: #eee;
        border-top: $item-border;
    }

    &:hover {
        text-decoration: none;
        border-color: $accent-color;
    }

}
@media (min-width: 500px) {
    .category {
      width: 500px;
      float: left;
    }
      .item {
        width: 200px;
      }
}
