#magix
{
  .item-title {
    opacity: 0.1;
  }
    &:hover .item-title {
      opacity: 1;
      color: #f0f;
    }
}
#mall
{
  background-color: #000;

  .item-title {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
    color: #fff;
  }
}
.no-circle .item-img{
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
